    <div class="widgetWinbitsFooter">
        <div class="wrapper">
            <div class="logo">
                <a href="#" class="icon winbits19px">Logo Winbits</a>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Welcome</a></li>
                    <li><a href="#">My account</a></li>
                    <li><a href="#">Need Help?</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">International</a></li>
                </ul>
                <ul>
                    <li><a href="#">Welcome</a></li>
                    <li><a href="#">My account</a></li>
                    <li><a href="#">Need Help?</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">International</a></li>
                </ul>
                <ul>
                    <li><a href="#">Welcome</a></li>
                    <li><a href="#">My account</a></li>
                    <li><a href="#">Need Help?</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">International</a></li>
                </ul>
                <ul>
                    <li><a href="#">Welcome</a></li>
                    <li><a href="#">My account</a></li>
                    <li><a href="#">Need Help?</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">International</a></li>
                </ul>
            </nav>
        </div>
    </div>