<div class="miCuenta">
<ul>
<li>
<span class="spanDropMenu link">Mi Cuenta<span class="icon trigger triggerMiCuenta"></span></span>
<div class="dropMenu miCuentaDiv" style="display: none;">
<span class="icon triangle"></span>
<div class="wrapper">
<div class="miCuenta-tabs">
<ul class="miCuenta-linktabs">
    <li class="tabSelected"><a href="#wb-micuenta-profile">MI PERFIL</a></li>
    <li><a href="#wb-micuenta-address">DIRECCIÓN DE ENVIO</a></li>
    <li><a href="#wb-micuenta-creditcard">TARJETAS DE CRÉDITO</a></li>
    <li><a href="#wb-micuenta-mailing">MAILING</a></li>
    <li><a href="#wb-micuenta-favorites">FAVORITOS</a></li>
    <li><a href="#wb-micuenta-wishlist">WISHLIST</a></li>
    <li><a href="#wb-micuenta-history">HISTORIAL DE TU CUENTA</a></li>
</ul>
<div class="miCuenta-logout">
    <input type="submit" value="Log Out" class="btn">
</div>
<div id="wb-micuenta-profile" class="miCuenta-tab" style="display: block;">
    <div class="column miCuenta-profile">
        <form method="post" action="#" accept-charset="utf-8" id="miCuenta-profile" novalidate="novalidate">
            <h3>DATOS PERSONALES</h3>
            <input type="text" id="winbitsProfileName" name="winbitsProfileName" value="Raúl" class="required" placeholder="Nombre">
            <input type="text" id="winbitsProfileLastname" name="winbitsProfileLastname" value="Sotomayor" class="required" placeholder="Apellido">
            <input type="text" id="winbitsProfileEmail" name="winbitsProfileEmail" value="rulas1785@gmail.com" class="required email" placeholder="Correo Electrónico">
            <div class="divBirthday">
                <label>Cumpleaños</label>
                <input type="text" id="winbitsProfileDD" name="winbitsProfileDD" class="required digits" maxlength="2" placeholder="dd">
                <input type="text" id="winbitsProfileMM" name="winbitsProfileMM" class="required digits" maxlength="2" placeholder="mm">
                <input type="text" id="winbitsProfileAA" name="winbitsProfileAA" class="required digits" maxlength="2" placeholder="aa">
            </div>
            <div class="divGender">
                <label>Género</label>
                <div class="divRadio"><input type="radio" id="winbitsProfileH" name="winbitsProfileGender" class="required" value="H"><span class="spanRadio">H</span></div>
                <div class="divRadio"><input type="radio" id="winbitsProfileM" name="winbitsProfileGender" value="M"><span class="spanRadio">M</span></div>
            </div>
            <input type="text" id="winbitsProfileZipCode" name="winbitsProfileZipCode" placeholder="Zip Code">
            <div class="selectContainer selectRegister"><select id="winbitsProfileLocalidad" name="winbitsProfileLocalidad" data-inputselect="true" data-clase="selectRegister" class="select selectHidden">
                <option>Localidad</option>
                <option>México, D.F.</option>
                <option>Guadalajara</option>
                <option>Monterrey</option>
                <option>México, D.F.</option>
                <option>Guadalajara</option>
                <option>Monterrey</option>
                <option>México, D.F.</option>
                <option>Guadalajara</option>
                <option>Monterrey</option>
                <option>México, D.F.</option>
                <option>Guadalajara</option>
                <option>Monterrey</option>
            </select><input type="text" class="selectContent" placeholder="Localidad"><span class="icon selectTrigger"></span><ul class="selectOptions"><li rel="Localidad">Localidad</li><li rel="México, D.F.">México, D.F.</li><li rel="Guadalajara">Guadalajara</li><li rel="Monterrey">Monterrey</li><li rel="México, D.F.">México, D.F.</li><li rel="Guadalajara">Guadalajara</li><li rel="Monterrey">Monterrey</li><li rel="México, D.F.">México, D.F.</li><li rel="Guadalajara">Guadalajara</li><li rel="Monterrey">Monterrey</li><li rel="México, D.F.">México, D.F.</li><li rel="Guadalajara">Guadalajara</li><li rel="Monterrey">Monterrey</li></ul></div>
            <input type="text" id="winbitsProfilePhone" name="winbitsProfilePhone" placeholder="Teléfono">
            <input type="submit" value="Guardar" class="btn editBtn">
        </form>

    </div>
    <div class="column miCuenta-password">
        <form method="post" action="#" accept-charset="utf-8" id="miCuenta-password" novalidate="novalidate">
            <h3>CAMBIAR PASSWORD</h3>
            <input type="password" id="winbitsPasswordActual" name="winbitsPasswordActual" class="required" placeholder="Password Actual">
            <input type="password" id="winbitsPasswordNew" name="winbitsPasswordNew" class="required" placeholder="Nuevo Password">
            <input type="password" id="winbitsPasswordNewAgain" name="winbitsPasswordNewAgain" class="required" placeholder="Confirmar Nuevo Password">
            <input type="submit" value="Guardar" class="btn editBtn">
        </form>
    </div>
    <div class="column">
        <h3>REDES SOCIALES</h3>
        <p><a href="#"><span class="icon fbCircle"></span>Liga tu cuenta de facebook</a></p>
        <p><a href="#"><span class="icon twCircle"></span>Liga tu cuenta de twitter</a></p>
    </div>
</div>
<div id="wb-micuenta-address" class="miCuenta-tab" style="display: none;">
    <div class="shipCarrusel">
        <div class="shippingCarrusel-carrusel" style="cursor: -moz-grab;">
            <div class="shippingCarrusel-wrapper" style="width: 5250px; height: 120px;">
                <div class="shippingCarrusel-slide swiper-slide-visible swiper-slide-active" style="width: 875px; height: 120px;">
                    <div class="shippingMenu">
                        <a href="#">edit</a>
                        <span class="icon closeButton">cerrar</span>
                    </div>
                    <h3>DIRECCIÓN 1</h3>
                    <address>
                        <span>Raúl Sotomayor,</span>
                        <span>Marsella 7, Villa,</span>
                        <span>Avaro Obregón, 01810</span>
                    </address>
                    <span class="note send direccionSend">Tu paquete será enviado a esta dirección</span>
                    <span class="note hover">Da click aqui para establecer como dirección principal</span>
                    <input type="radio" class="shippingRadio" name="shippingRadio">
                </div>
                <div class="shippingCarrusel-slide shippingSelected" style="width: 875px; height: 120px;">
                    <div class="shippingMenu">
                        <a href="#">edit</a>
                        <span class="icon closeButton">cerrar</span>
                    </div>
                    <h3>DIRECCIÓN 1</h3>
                    <address>
                        <span>Raúl Sotomayor,</span>
                        <span>Marsella 7, Villa,</span>
                        <span>Avaro Obregón, 01810</span>
                    </address>
                    <span class="note send direccionSend">Tu paquete será enviado a esta dirección</span>
                    <span class="note hover">Da click aqui para establecer como dirección principal</span>
                    <input type="radio" checked="checked" class="shippingRadio" name="shippingRadio">
                </div>
                <div class="shippingCarrusel-slide" style="width: 875px; height: 120px;">
                    <div class="shippingMenu">
                        <a href="#">edit</a>
                        <span class="icon closeButton">cerrar</span>
                    </div>
                    <h3>DIRECCIÓN 1</h3>
                    <address>
                        <span>Raúl Sotomayor,</span>
                        <span>Marsella 7, Villa,</span>
                        <span>Avaro Obregón, 01810</span>
                    </address>
                    <span class="note send direccionSend">Tu paquete será enviado a esta dirección</span>
                    <span class="note hover">Da click aqui para establecer como dirección principal</span>
                    <input type="radio" class="shippingRadio" name="shippingRadio">
                </div>
                <div class="shippingCarrusel-slide" style="width: 875px; height: 120px;">
                    <div class="shippingMenu">
                        <a href="#">edit</a>
                        <span class="icon closeButton">cerrar</span>
                    </div>
                    <h3>DIRECCIÓN 1</h3>
                    <address>
                        <span>Raúl Sotomayor,</span>
                        <span>Marsella 7, Villa,</span>
                        <span>Avaro Obregón, 01810</span>
                    </address>
                    <span class="note send direccionSend">Tu paquete será enviado a esta dirección</span>
                    <span class="note hover">Da click aqui para establecer como dirección principal</span>
                    <input type="radio" class="shippingRadio" name="shippingRadio">
                </div>
                <div class="shippingCarrusel-slide" style="width: 875px; height: 120px;">
                    <div class="shippingMenu">
                        <a href="#">edit</a>
                        <span class="icon closeButton">cerrar</span>
                    </div>
                    <h3>DIRECCIÓN 1</h3>
                    <address>
                        <span>Raúl Sotomayor,</span>
                        <span>Marsella 7, Villa,</span>
                        <span>Avaro Obregón, 01810</span>
                    </address>
                    <span class="note send direccionSend">Tu paquete será enviado a esta dirección</span>
                    <span class="note hover">Da click aqui para establecer como dirección principal</span>
                    <input type="radio" class="shippingRadio" name="shippingRadio">
                </div>
                <div class="shippingCarrusel-slide" style="width: 875px; height: 120px;">
                    <div class="shippingMenu">
                        <a href="#">edit</a>
                        <span class="icon closeButton">cerrar</span>
                    </div>
                    <h3>DIRECCIÓN 1</h3>
                    <address>
                        <span>Raúl Sotomayor,</span>
                        <span>Marsella 7, Villa,</span>
                        <span>Avaro Obregón, 01810</span>
                    </address>
                    <span class="note send direccionSend">Tu paquete será enviado a esta dirección</span>
                    <span class="note hover">Da click aqui para establecer como dirección principal</span>
                    <input type="radio" class="shippingRadio" name="shippingRadio">
                </div>
            </div>
        </div>
        <span class="icon carrouselArrows prev">Anterior</span>
        <span class="icon carrouselArrows next">Siguiente</span>
        <div class="shippingAdd">
            <h3>AGREGAR DIRECCIÓN +</h3>
            <span>Da click para agregar</span>
        </div>
    </div>
    <div class="shippingNewAddress">
        <form method="post" action="#" accept-charset="utf-8" id="shippingNewAddress" novalidate="novalidate">
            <div class="column">
                <h3>NOMBRE</h3>
                <input type="text" name="nombre" class="required" placeholder="Nombre">
                <input type="text" name="apellidop" class="required" placeholder="Apellido Paterno">
                <input type="text" name="apellidom" class="required" placeholder="Apellido Materno">
            </div>
            <div class="column">
                <h3>DIRECCIÓN</h3>
                <input type="text" name="cp" class="required digits" placeholder="Codigo Postal">
                <div class="selectContainer selectRegister"><select data-clase="selectRegister" class="select selectHidden">
                    <option>Localidad</option>
                    <option>Item 1</option>
                    <option>Item 2</option>
                    <option>Item 2</option>
                </select><span class="selectContent">Localidad</span><span class="icon selectTrigger"></span><ul class="selectOptions"><li rel="Localidad">Localidad</li><li rel="Item 1">Item 1</li><li rel="Item 2">Item 2</li><li rel="Item 2">Item 2</li></ul></div>
                <textarea name="calle" class="required" placeholder="Calle"></textarea>
                <textarea name="entrecalles" class="required" placeholder="¿Entre qué calles?"></textarea>
                <textarea name="referencias" class="required" placeholder="Referencias para llegar"></textarea>
            </div>
            <div class="column noH3">
                <div class="inputNumber">
                    <input type="text" class="required" placeholder="# ext">
                    <input type="text" placeholder="# int">
                </div>
                <input type="text" name="mpiodel" placeholder="Delegación o Municipio">
                <input type="text" name="estado" placeholder="Estado">
                <input type="text" name="colonia" placeholder="Colonia">
                <input type="text" class="required" name="tel" placeholder="Teléfono con lada">
            </div>
            <div class="column columnLarge">
                <h3>OPCIONES</h3>
                <div class="divCheckbox"><span class="icon spanCheckbox unselectCheckbox"></span><input type="checkbox" class="checkbox"><label class="checkboxLabel">Hacer esta mi dirección principal</label></div>

                <p class="note">Winbits giuarda tu dirección para que puedas utilizarlas siempre que las necesites y tus compras sean mucho más fáciles. </p>
                <div class="submitButton">
                    <span class="btn btnCancel">Cancelar</span>
                    <input type="submit" class="btn" value="Continuar">
                </div>
            </div>
        </form>
    </div>
</div>
<div id="wb-micuenta-creditcard" class="miCuenta-tab" style="display: none;">
    <div class="ccCarrusel">
        <div class="creditcardCarrousel" style="cursor: -moz-grab;">
            <div class="creditcardCarrousel-wrapper" style="width: 5250px; height: 0px;">
                <div class="creditcardCarrousel-slide swiper-slide-visible swiper-slide-active" style="width: 875px; height: 0px;">
                    <div class="creditcardMenu">
                        <a href="#">edit</a>
                        <span class="icon closeButton">cerrar</span>
                    </div>
                    <h3>Tarjeta 1</h3>
                    <address>
                        <span>Master Card,</span>
                        <span>xxxxxxxxx-2327</span>
                        <span>06/13</span>
                    </address>
                    <span class="note send creditCardSend">Tu orden se pagará con esta tarjeta.</span>
                    <span class="note hover">Da click aqui para establecer como tarjeta principal</span>
                    <span class="mesesSinIntereses-box">MESES SIN INTERESES</span>
                    <input type="radio" id="winbitsCCRadio1" class="creditcardRadio" name="winbitsCCRadio">
                </div>
                <div class="creditcardCarrousel-slide" style="width: 875px; height: 0px;">
                    <div class="creditcardMenu">
                        <a href="#">edit</a>
                        <span class="icon closeButton">cerrar</span>
                    </div>
                    <h3>Tarjeta 2</h3>
                    <address>
                        <span>Master Card,</span>
                        <span>xxxxxxxxx-2327</span>
                        <span>06/13</span>
                    </address>
                    <span class="note send creditCardSend">Tu orden se pagará con esta tarjeta.</span>
                    <span class="note hover">Da click aqui para establecer como tarjeta principal</span>
                    <input type="radio" id="winbitsCCRadio2" class="creditcardRadio" name="winbitsCCRadio">
                </div>
                <div class="creditcardCarrousel-slide creditcardSelected" style="width: 875px; height: 0px;">
                    <div class="creditcardMenu">
                        <a href="#">edit</a>
                        <span class="icon closeButton">cerrar</span>
                    </div>
                    <h3>Tarjeta 2</h3>
                    <address>
                        <span>Master Card,</span>
                        <span>xxxxxxxxx-2327</span>
                        <span>06/13</span>
                    </address>
                    <span class="note send creditCardSend">Tu orden se pagará con esta tarjeta.</span>
                    <span class="note hover">Da click aqui para establecer como tarjeta principal</span>
                    <input type="radio" checked="checked" id="winbitsCCRadio3" class="creditcardRadio" name="winbitsCCRadio">
                </div>
                <div class="creditcardCarrousel-slide" style="width: 875px; height: 0px;">
                    <div class="creditcardMenu">
                        <a href="#">edit</a>
                        <span class="icon closeButton">cerrar</span>
                    </div>
                    <h3>Tarjeta 2</h3>
                    <address>
                        <span>Master Card,</span>
                        <span>xxxxxxxxx-2327</span>
                        <span>06/13</span>
                    </address>
                    <span class="note send creditCardSend">Tu orden se pagará con esta tarjeta.</span>
                    <span class="note hover">Da click aqui para establecer como tarjeta principal</span>
                    <input type="radio" id="winbitsCCRadio4" class="creditcardRadio" name="winbitsCCRadio">
                </div>
                <div class="creditcardCarrousel-slide" style="width: 875px; height: 0px;">
                    <div class="creditcardMenu">
                        <a href="#">edit</a>
                        <span class="icon closeButton">cerrar</span>
                    </div>
                    <h3>Tarjeta 2</h3>
                    <address>
                        <span>Master Card,</span>
                        <span>xxxxxxxxx-2327</span>
                        <span>06/13</span>
                    </address>
                    <span class="note send creditCardSend">Tu orden se pagará con esta tarjeta.</span>
                    <span class="note hover">Da click aqui para establecer como tarjeta principal</span>
                    <input type="radio" id="winbitsCCRadio5" class="creditcardRadio" name="winbitsCCRadio">
                </div>
                <div class="creditcardCarrousel-slide" style="width: 875px; height: 0px;">
                    <div class="creditcardMenu">
                        <a href="#">edit</a>
                        <span class="icon closeButton">cerrar</span>
                    </div>
                    <h3>Tarjeta 2</h3>
                    <address>
                        <span>Master Card,</span>
                        <span>xxxxxxxxx-2327</span>
                        <span>06/13</span>
                    </address>
                    <span class="note send creditCardSend">Tu orden se pagará con esta tarjeta.</span>
                    <span class="note hover">Da click aqui para establecer como tarjeta principal</span>
                    <input type="radio" id="winbitsCCRadio6" class="creditcardRadio" name="winbitsCCRadio">
                </div>
            </div>
        </div>
        <span class="icon carrouselArrows prev">Anterior</span>
        <span class="icon carrouselArrows next">Siguiente</span>
        <div class="creditcardAdd">
            <h3>AGREGAR TARJETA +</h3>
            <span>Da click para agregar</span>
        </div>
    </div>
    <div class="creditcardNew">
        <form method="post" action="#" accept-charset="utf-8" id="creditcardNew" novalidate="novalidate">
            <div class="column">
                <h3>INFORMACIÓN</h3>
                <input type="text" id="winbitsCreditCard" name="winbitsCreditCardName" placeholder="Nombre" class="required">
                <input type="text" id="winbitsCreditCardLastname" name="winbitsCreditCardLastname" placeholder="Apellido" class="required">
                <input type="text" id="winbitsCreditCardNumber" name="winbitsCreditCardNumber" placeholder="Número de Tarjeta" class="required">
                <div class="divFechaExpiracion">
                    <label>Fecha de Expiración</label>
                    <input type="text" id="winbitsCreditCardDD" name="winbitsCreditCardDD" class="required digits" maxlength="2" placeholder="dd">
                    <input type="text" id="winbitsCreditCardAA" name="winbitsCreditCardAA" class="required digits" maxlength="2" placeholder="aa">
                </div>
                <div class="divNumSecurity">
                    <label for="winbitsCreditCardSecurity"># de Seguridad</label>
                    <input type="text" id="winbitsCreditCardSecurity" name="winbitsCreditCardSecurity" class="requiered digits" maxlength="3" placeholder="###">
                </div>
            </div>
            <div class="column">
                <h3>DIRECCIÓN</h3>
                <div class="selectContainer selectRegister"><select id="winbitsCreditCardCountry" name="winbitsCreditCardCountry" data-clase="selectRegister" class="select selectHidden">
                    <option>País</option>
                    <option>México</option>
                    <option>USA</option>
                    <option>Puerto Rico</option>
                    </select><span class="selectContent">País</span><span class="icon selectTrigger"></span><ul class="selectOptions"><li rel="País">País</li><li rel="México">México</li><li rel="USA">USA</li><li rel="Puerto Rico">Puerto Rico</li></ul></div>
                <input type="text" id="winbitsCreditCardStreet" name="winbitsCreditCardStreet" class="inputMedium required" placeholder="Calle">
                <input type="text" id="winbitsCreditCardNum" name="winbitsCreditCardNum" class="inputSmall required" placeholder="##">
                <input type="text" id="winbitsCreditCardCol" name="winbitsCreditCardCol" placeholder="Colonia">
                <input type="text" id="winbitsCreditCardCity" name="winbitsCreditCardCity" placeholder="Ciudad">
                <input type="text" id="winbitsCreditCardCP" name="winbitsCreditCardCP" placeholder="Codigo Postal">
                <input type="text" id="winbitsCreditCardTel" name="winbitsCreditCardTel" placeholder="Teléfono">
            </div>
            <div class="column columnLarge">
                <h3>OPCIONES</h3>
                <div class="divCheckbox"><span class="icon spanCheckbox unselectCheckbox"></span><input type="checkbox" id="winbitsCreditCardPrincipal" name="winbitsCreditCardPrincipal" class="checkbox"><label class="checkboxLabel" for="winbitsCreditCardPrincipal">Hacer esta mi tarjeta principal</label></div>

                <p class="note">Winbits puede guardar tus tarjetas de credito por ti, para que tu proxima compra sea mucho más rápida.</p>
                <div class="submitButton">
                    <span class="btn btnCancel">Cancelar</span>
                    <input type="submit" class="btn" value="Pagar">
                </div>
            </div>
        </form>

    </div>
</div>
<div id="wb-micuenta-mailing" class="miCuenta-tab" style="display: none;">
    <div class="column">
        <h3>¿De cuál de nuestros sitios te gustaría recibir información?</h3>
        <div class="divCheckbox"><span class="icon spanCheckbox selectCheckbox"></span><input type="checkbox" id="winbitsSuscription1" name="winbitsSuscription1" checked="checked" class="checkbox" value="Looq"><label class="checkboxLabel" for="winbitsSuscription1">Looq</label></div>

        <div class="divCheckbox"><span class="icon spanCheckbox unselectCheckbox"></span><input type="checkbox" id="winbitsSuscription2" name="winbitsSuscription2" class="checkbox" value="Clickonero"><label class="checkboxLabel" for="winbitsSuscription2">Clickonero</label></div>

        <div class="divCheckbox"><span class="icon spanCheckbox unselectCheckbox"></span><input type="checkbox" id="winbitsSuscription3" name="winbitsSuscription3" class="checkbox" value="MiPlan"><label class="checkboxLabel" for="winbitsSuscription3">Mi Plan</label></div>

        <div class="divCheckbox"><span class="icon spanCheckbox unselectCheckbox"></span><input type="checkbox" id="winbitsSuscription4" name="winbitsSuscription4" class="checkbox" value="Travel"><label class="checkboxLabel" for="winbitsSuscription4">Travel</label></div>

    </div>
    <div class="column">
        <h3>¿Cómo te gustaría recibir la información?</h3>
        <div class="divCheckbox"><span class="icon spanCheckbox unselectCheckbox"></span><input type="checkbox" id="winbitsSuscription5" name="winbitsSuscription5" class="checkbox" value="Allinone"><label class="checkboxLabel" for="winbitsSuscription5">Todo en un correo</label></div>

        <div class="divCheckbox"><span class="icon spanCheckbox unselectCheckbox"></span><input type="checkbox" id="winbitsSuscription6" name="winbitsSuscription6" class="checkbox" value="individualMail"><label class="checkboxLabel" for="winbitsSuscription6">Correos individuales</label></div>

    </div>
    <div class="column">
        <h3>¿Con qué frecuencia te gustaría recibir nuestros correos?</h3>
        <div class="divCheckbox"><span class="icon spanCheckbox unselectCheckbox"></span><input type="checkbox" id="winbitsSuscription7" name="winbitsSuscription7" class="checkbox" value="Alldays"><label class="checkboxLabel" for="winbitsSuscription7">Todos los días</label></div>

        <div class="divCheckbox"><span class="icon spanCheckbox unselectCheckbox"></span><input type="checkbox" id="winbitsSuscription8" name="winbitsSuscription8" class="checkbox" value="Onemailweek"><label class="checkboxLabel" for="winbitsSuscription8">Un correo por semana</label></div>

    </div>
    <input type="submit" value="Guardar" class="btn editBtn">
</div>
<div id="wb-micuenta-favorites" class="miCuenta-tab" style="display: none;">
    <p>Aqui encontraras todas las marcas que haz marcado como favoritas, cuando vuelvan a alguno de nuestros sitios, te notificaremos via e-mail.</p>
    <ul>
        <li>
            <span>NIKE</span>
            <a class="icon closeButton" href="#">Eliminar</a>
        </li>
        <li>
            <span>TOMMY</span>
            <a class="icon closeButton" href="#">Eliminar</a>
        </li>
        <li>
            <span>BROOKS BROTHE...</span>
            <a class="icon closeButton" href="#">Eliminar</a>
        </li>
        <li>
            <span>REEBOOK</span>
            <a class="icon closeButton" href="#">Eliminar</a>
        </li>
        <li>
            <span>TOSHIBA</span>
            <a class="icon closeButton" href="#">Eliminar</a>
        </li>
        <li>
            <span>ADIDAS</span>
            <a class="icon closeButton" href="#">Eliminar</a>
        </li>
        <li>
            <span>STEVE MAIDEN</span>
            <a class="icon closeButton" href="#">Eliminar</a>
        </li>
        <li>
            <span>MARC JACOBS</span>
            <a class="icon closeButton" href="#">Eliminar</a>
        </li>
        <li>
            <span>SAMSUNG</span>
            <a class="icon closeButton" href="#">Eliminar</a>
        </li>
        <li>
            <span>ADIR</span>
            <a class="icon closeButton" href="#">Eliminar</a>
        </li>
    </ul>
</div>
<div id="wb-micuenta-wishlist" class="miCuenta-tab" style="display: none;">
    <div class="selectDiv">
        <div class="selectContainer selectRegister"><select data-clase="selectRegister" class="select selectHidden">
            <option>Estatus</option>
            <option>Item 1</option>
            <option>Item 2</option>
            <option>Item 3</option>
            <option>Item 4</option>
        </select><span class="selectContent">Estatus</span><span class="icon selectTrigger"></span><ul class="selectOptions"><li rel="Estatus">Estatus</li><li rel="Item 1">Item 1</li><li rel="Item 2">Item 2</li><li rel="Item 3">Item 3</li><li rel="Item 4">Item 4</li></ul></div>
        <div class="selectContainer selectRegister"><select data-clase="selectRegister" class="select selectHidden">
            <option>Ordenar por...</option>
            <option>Item 1</option>
            <option>Item 2</option>
            <option>Item 3</option>
            <option>Item 4</option>
        </select><span class="selectContent">Ordenar por...</span><span class="icon selectTrigger"></span><ul class="selectOptions"><li rel="Ordenar por...">Ordenar por...</li><li rel="Item 1">Item 1</li><li rel="Item 2">Item 2</li><li rel="Item 3">Item 3</li><li rel="Item 4">Item 4</li></ul></div>
    </div>
    <div class="wishlistContainer scrollPanel jspScrollable" style="overflow: hidden; padding: 0px; width: 770px;" tabindex="0">

        <div class="jspContainer" style="width: 770px; height: 351px;"><div class="jspPane" style="padding: 0px 20px 0px 0px; width: 741px; top: 0px;"><div class="dataTable">
            <table>
                <thead>
                <tr>
                    <th class="width20">PHOTO</th>
                    <th class="width40">DESCRIPCIÓN DEL PRODUCTO</th>
                    <th class="width15">SITE</th>
                    <th class="widht15">ESTATUS</th>
                    <th class="width10">ELIMINAR</th>
                </tr>
                </thead>
                <tbody>
                <tr class="itemWaitingList">
                    <td>
                        <img width="62" height="79" alt="LACE OFF THE SHOULDER DRESS" src="winbitsInclude/images/assets/blackDress-small.jpg">
                    </td>
                    <td>
                        <strong>LACE OFF THE SHOULDER DRESS</strong>
                        <strong>Pull &amp; Bear</strong>
                        <p>color: black</p>
                        <p>size: small </p>
                    </td>
                    <td><a href="#"><img alt="Looq" src="winbitsInclude/images/misc/looq.png"></a></td>
                    <td>Esperando</td>
                    <td><a class="icon closeButton" href="#">Eliminar</a></td>
                </tr>
                <tr class="itemWaitingList">
                    <td>
                        <img width="62" height="79" alt="LACE OFF THE SHOULDER DRESS" src="winbitsInclude/images/assets/blackDress-small.jpg">
                    </td>
                    <td>
                        <strong>LACE OFF THE SHOULDER DRESS</strong>
                        <strong>Pull &amp; Bear</strong>
                        <p>color: black</p>
                        <p>size: small </p>
                    </td>
                    <td><a href="#"><img alt="clickOnero" src="winbitsInclude/images/misc/clickonero.png"></a></td>
                    <td>Esperando</td>
                    <td><a class="icon closeButton" href="#">Eliminar</a></td>
                </tr>
                <tr class="itemWaitingList">
                    <td>
                        <img width="62" height="79" alt="LACE OFF THE SHOULDER DRESS" src="winbitsInclude/images/assets/blackDress-small.jpg">
                    </td>
                    <td>
                        <strong>LACE OFF THE SHOULDER DRESS</strong>
                        <strong>Pull &amp; Bear</strong>
                        <p>color: black</p>
                        <p>size: small </p>
                    </td>
                    <td><a href="#"><img alt="Looq" src="winbitsInclude/images/misc/looq.png"></a></td>
                    <td>Esperando</td>
                    <td><a class="icon closeButton" href="#">Eliminar</a></td>
                </tr>
                <tr class="itemWaitingList">
                    <td>
                        <img width="62" height="79" alt="LACE OFF THE SHOULDER DRESS" src="winbitsInclude/images/assets/blackDress-small.jpg">
                    </td>
                    <td>
                        <strong>LACE OFF THE SHOULDER DRESS</strong>
                        <strong>Pull &amp; Bear</strong>
                        <p>color: black</p>
                        <p>size: small </p>
                    </td>
                    <td><a href="#"><img alt="Looq" src="winbitsInclude/images/misc/looq.png"></a></td>
                    <td><a class="availableWish" href="#">Ya disponible</a></td>
                    <td><a class="icon closeButton" href="#">Eliminar</a></td>
                </tr>
                <tr class="itemWaitingList">
                    <td>
                        <img width="62" height="79" alt="LACE OFF THE SHOULDER DRESS" src="winbitsInclude/images/assets/blackDress-small.jpg">
                    </td>
                    <td>
                        <strong>LACE OFF THE SHOULDER DRESS</strong>
                        <strong>Pull &amp; Bear</strong>
                        <p>color: black</p>
                        <p>size: small </p>
                    </td>
                    <td><a href="#"><img alt="Looq" src="winbitsInclude/images/misc/looq.png"></a></td>
                    <td>Esperando</td>
                    <td><a class="icon closeButton" href="#">Eliminar</a></td>
                </tr>
                </tbody>
            </table>
        </div></div><div class="jspVerticalBar"><div class="jspCap jspCapTop"></div><div class="jspTrack" style="height: 351px;"><div class="jspDrag" style="height: 218px;"><div class="jspDragTop"></div><div class="jspDragBottom"></div></div></div><div class="jspCap jspCapBottom"></div></div></div></div>
</div>
<div id="wb-micuenta-history" class="miCuenta-tab" style="display: none;">
    <div class="column">
        <h3>Historial de Compras</h3>
        <p>Entrega Pendiente <span>0</span></p>
        <a href="#">Ver Historial de Compras completo</a>
    </div>
    <div class="column">
        <h3>Tus Bits</h3>
        <p>Tienes <span>0</span> Bits</p>
        <a href="#">Ver Historial de Bits completo</a>
    </div>
</div>
<div class="miCuenta-close">
    <p>cerrar ventana<span class="icon closeButton"></span></p>
</div>
</div>
</div>
</div>
</li>
<li class="bits">{{{baits}}}<span class="icon bit16px"></span></li>
<li>
    <span class="spanDropMenu">2 <span class="icon shopCarMin"></span></span>
    <div class="dropMenu miCarritoDiv" style="display: none;">
        <span class="icon triangle2"></span>
        <div class="wrapper">
            <div class="carContenido">
                <div class="carritoDivLeft">
                    <div data-content="carritoContent" class="carritoContainer scrollPanel jspScrollable" style="overflow: hidden; padding: 0px; width: 340px;" tabindex="0">

                        <div class="jspContainer" style="width: 340px; height: 352px;"><div class="jspPane" style="padding: 0px; width: 331px; top: 0px;"><div class="carritoContent">
                            <ul>
                                <li>
                                    <a href="#"><img alt="Denim looq Leggings" class="imgItem" src="winbitsInclude/images/assets/jeans-tiny.jpg"></a>
                                    <p class="descriptionItem">Denim looq Leggings</p>
                                    <p class="caracItem">Talla: 32, Color: Negro</p>
                                    <label>Cantidad:</label>
                                    <div class="selectContainer selectRegister"><select data-inputselect="true" data-clase="selectRegister" class="select selectHidden">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select><input type="text" class="selectContent" placeholder="1"><span class="icon selectTrigger"></span><ul class="selectOptions"><li rel="1">1</li><li rel="2">2</li><li rel="3">3</li><li rel="4">4</li><li rel="5">5</li></ul></div>
                                    <p class="priceItem">$350.00</p>
                                    <span class="icon looqLogoSmall">LOOQ</span>
                                    <span class="icon closeButton"><a href="#">eliminar</a></span>
                                </li>
                                <li>
                                    <a href="#"><img alt="Denim looq Leggings" class="imgItem" src="winbitsInclude/images/assets/jeans-tiny.jpg"></a>
                                    <p class="descriptionItem">Denim looq Leggings</p>
                                    <p class="caracItem">Talla: 32, Color: Negro</p>
                                    <label>Cantidad:</label>
                                    <div class="selectContainer selectRegister"><select data-inputselect="true" data-clase="selectRegister" class="select selectHidden">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select><input type="text" class="selectContent" placeholder="1"><span class="icon selectTrigger"></span><ul class="selectOptions"><li rel="1">1</li><li rel="2">2</li><li rel="3">3</li><li rel="4">4</li><li rel="5">5</li></ul></div>
                                    <p class="priceItem">$350.00</p>
                                    <span class="icon looqLogoSmall">LOOQ</span>
                                    <span class="icon closeButton"><a href="#">eliminar</a></span>
                                </li>
                                <li>
                                    <a href="#"><img alt="Denim looq Leggings" class="imgItem" src="winbitsInclude/images/assets/jeans-tiny.jpg"></a>
                                    <p class="descriptionItem">Denim looq Leggings</p>
                                    <p class="caracItem">Talla: 32, Color: Negro</p>
                                    <label>Cantidad:</label>
                                    <div class="selectContainer selectRegister"><select data-inputselect="true" data-clase="selectRegister" class="select selectHidden">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select><input type="text" class="selectContent" placeholder="1"><span class="icon selectTrigger"></span><ul class="selectOptions"><li rel="1">1</li><li rel="2">2</li><li rel="3">3</li><li rel="4">4</li><li rel="5">5</li></ul></div>
                                    <p class="priceItem">$350.00</p>
                                    <span class="icon looqLogoSmall">LOOQ</span>
                                    <span class="icon closeButton"><a href="#">eliminar</a></span>
                                </li>
                                <li>
                                    <a href="#"><img alt="Denim looq Leggings" class="imgItem" src="winbitsInclude/images/assets/jeans-tiny.jpg"></a>
                                    <p class="descriptionItem">Denim looq Leggings</p>
                                    <p class="caracItem">Talla: 32, Color: Negro</p>
                                    <label>Cantidad:</label>
                                    <div class="selectContainer selectRegister"><select data-inputselect="true" data-clase="selectRegister" class="select selectHidden">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select><input type="text" class="selectContent" placeholder="1"><span class="icon selectTrigger"></span><ul class="selectOptions"><li rel="1">1</li><li rel="2">2</li><li rel="3">3</li><li rel="4">4</li><li rel="5">5</li></ul></div>
                                    <p class="priceItem">$350.00</p>
                                    <span class="icon looqLogoSmall">LOOQ</span>
                                    <span class="icon closeButton"><a href="#">eliminar</a></span>
                                </li>
                                <li>
                                    <a href="#"><img alt="Denim looq Leggings" class="imgItem" src="winbitsInclude/images/assets/jeans-tiny.jpg"></a>
                                    <p class="descriptionItem">Denim looq Leggings</p>
                                    <p class="caracItem">Talla: 32, Color: Negro</p>
                                    <label>Cantidad:</label>
                                    <div class="selectContainer selectRegister"><select data-inputselect="true" data-clase="selectRegister" class="select selectHidden">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select><input type="text" class="selectContent" placeholder="1"><span class="icon selectTrigger"></span><ul class="selectOptions"><li rel="1">1</li><li rel="2">2</li><li rel="3">3</li><li rel="4">4</li><li rel="5">5</li></ul></div>
                                    <p class="priceItem">$350.00</p>
                                    <span class="icon looqLogoSmall">LOOQ</span>
                                    <span class="icon closeButton"><a href="#">eliminar</a></span>
                                </li>
                                <li>
                                    <a href="#"><img alt="Denim looq Leggings" class="imgItem" src="winbitsInclude/images/assets/jeans-tiny.jpg"></a>
                                    <p class="descriptionItem">Denim looq Leggings</p>
                                    <p class="caracItem">Talla: 32, Color: Negro</p>
                                    <label>Cantidad:</label>
                                    <div class="selectContainer selectRegister"><select data-inputselect="true" data-clase="selectRegister" class="select selectHidden">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select><input type="text" class="selectContent" placeholder="1"><span class="icon selectTrigger"></span><ul class="selectOptions"><li rel="1">1</li><li rel="2">2</li><li rel="3">3</li><li rel="4">4</li><li rel="5">5</li></ul></div>
                                    <p class="priceItem">$350.00</p>
                                    <span class="icon looqLogoSmall">LOOQ</span>
                                    <span class="icon closeButton"><a href="#">eliminar</a></span>
                                </li>
                            </ul>
                        </div></div><div class="jspVerticalBar"><div class="jspCap jspCapTop"></div><div class="jspTrack" style="height: 352px;"><div class="jspDrag" style="height: 230px;"><div class="jspDragTop"></div><div class="jspDragBottom"></div></div></div><div class="jspCap jspCapBottom"></div></div></div></div>
                </div>
                <div class="carritoDivRight">
                    <span class="carritoRight-title">Sub Total</span>
                    <span class="carritoRight-item">$<span class="slideInput-realprice">20000</span></span>
                    <span class="carritoRight-title blueSave">Ahorro</span>
                    <span class="carritoRight-item blueSave">$<span class="slideInput-save">500</span></span>
                    <span class="carritoRight-title">Envío</span>
                    <span class="carritoRight-item">$0</span>
                    <p class="carritoRight-total">
                        <span class="carritoRight-title">Total</span>
                        <span class="carritoRight-item">$<span class="slideInput-price">15000</span></span>
                    </p>
                    <div class="winSave">
                        <span>WIN</span>
                        <em class="icon winbits10px"></em>
                        <label>100</label>
                        <span>save</span>
                        <label><span class="slideInput-percent">25</span>%</label>
                        <div class="sliderWrapper"><div class="slider-holder ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><input type="text" class="slideInput" data-saveitem="slideInput-save" data-save="500" data-percent="slideInput-percent" data-realprice="20000" data-realpriceitem="slideInput-realprice" data-price="15000" data-priceitem="slideInput-price" data-moveprice="true" data-step="2" data-max="599" data-min="0" value="0"><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"><span class="icon bit"></span><span class="sliderAmount">$<em>0</em></span></a><div class="ui-slider-range ui-widget-header ui-slider-range-min" style="width: 0%;"></div></div><span class="textValue textMinValue">0</span><span class="textValue textMaxValue">599</span></div>
                    </div>
                    <input type="submit" value="Check Out" class="btn">
                    <a class="continueShoping" href="#">CONTINUE SHOPING</a>
                </div>
            </div>
        </div>
    </div>
</li>
<li><input type="submit" value="Check Out" class="btn btnTopNav"></li>
</ul>
</div>
