    <div class="widgetWinbitsHeader">
        <div class="knowmoreFolder">
            <div class="wrapper">
                <div class="knowMoreMax">
                    <span class="icon winbits22px">Logo Winbits</span>
                    <div class="knowMoreMax-item">
                        <div class="knowMoreMax-icons">
                            <a href="#" class="icon whitePanda">Sport Panda</a>
                            <a href="#" class="icon whiteLooq">Looq</a>
                            <a href="#" class="icon whiteClickonero">clickOnero</a>
                        </div>
                        <h2>VARIOS SITIOS</h2>
                        <p>Nos hemos asociado con sitios especializados para ofrecerte los mejores productos a las mejores precios. </p>
                    </div>
                    <div class="knowMoreMax-item">
                        <div class="knowMoreMax-icons">
                            <span class="icon shopCar">Shop Cart</span>
                        </div>
                        <h2>UNA SOLA CUENTA</h2>
                        <p>Para hacertelo todavía más fácil puedes utilizar tu cuenta winbits y sumar productos a un mismo carrito sin importar en que sitio estes.</p>
                    </div>
                    <div class="knowMoreMax-item">
                        <div class="knowMoreMax-icon">
                            <span class="icon winbitsWin">Winbits = $</span>
                        </div>
                        <h2>EN TODOS GANAS WINBITS</h2>
                        <p>En todos ganas winbits que puedes usar como dinero en efectivo.</p>
                    </div>
                    <div class="knowMoreMax-buttons">
                        <a href="#"><span class="icon watchVideo">Video</span>VE NUESTRO VIDEO</a>
                        <a href="#">REGISTRATE AHORA<span class="icon lock">Candado</span></a>
                    </div>
                    <span class="icon closeFolder openClose"></span>
                </div>
                <div class="knowMoreMin">
                    <p>Compra en nuestro sitio y gana! <a href="#">Conoce mas.</a>
                        <span class="icon openFolder openClose"></span>
                    <div class="language">
                        <span><a href="#" class="icon winbits19px">Logo Winbits</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainHeader">
            <div class="wrapper">
                <nav>
                    <ul>
                        <li><a href="#" class="icon verticalItem vertical0">Vertical 0</a></li>
                        <li><a href="#" class="icon verticalItem vertical1 current">Vertical 1</a></li>
                        <li><a href="#" class="icon verticalItem vertical2">Vertical 2</a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>


