.btn {
  background: @btnBackground;
	//border: @btnBorder;
  *border: 0; // Remove the border to prevent IE7's black border on input:focus
  //border-bottom-color: @btnBorderBottom;
	cursor: pointer;
	color: @btnColor;
  font-family: @btnFontFamily;
	font-size: @btnFontSize;
  font-weight: @btnFontWeight;
	line-height: @btnLineHeight;
  	*line-height: 20px;
	padding: @btnPadding;
	text-align: @btnTextAlign;
	//text-shadow: @btnTextShadow;
	//.border-radius(@btnBorderRadius);
  //.box-shadow(@btnShadow);
  //.buttonBackground(@btnBackground, @btnBackgroundHighlight);
	.ie7-restore-left-whitespace(); // Give IE7 some love
  .inline-block;
	.transition(.3s);
	&:hover {
      background: @btnBackgroundHighlight;
      color: @white;
		  //color: @btnColorHover;
  		text-decoration: @bthHoverTextDecoration;
  		background-color: @btnBackgroundHighlight;
      //text-shadow: @btnTextShadowHover;
  		///*background-color: @btnBackgroundHighlight; /* Buttons in IE7 don't get borders, so darken on hover */
  		//background-position: @btnHoverBackgroundPosition;
	}
	&:focus {
  		.tab-focus();
	}
  // Active state
  &.active,
  &:active {
  outline: 0;
  }
  // Disabled state
  &.disabled,
  &[disabled] {
    color: @btnColorDisabled;
    cursor: default;
    background-color: darken(@white, 10%);
    background-image: none;
    text-shadow: none;
    .opacity(65);
    .box-shadow(none);
  }
}

// Button Sizes
// --------------------------------------------------

// Large
.btn-large {
  padding: 5px 20px;
  font-size: 15px;
  line-height: normal;
  .border-radius(5px);
}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}

// Small
.btn-small {
  padding: 5px;
  font-size: 12px;
}
.btn-small [class^="icon-"] {
  margin-top: -1px;
}

// Mini
.btn-mini {
  padding: 2px 3px;
  font-size: 11px;
}


// Alternate buttons
// --------------------------------------------------

// Set text color
// -------------------------
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  color: @white;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}
// Provide *some* extra contrast for those who can get it
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255,255,255,.75);
}

// Set the backgrounds
// -------------------------

.btnFacebook {
  background: @blueFacebook;
  font-size: 11px;
  padding: 10px 20px 10px 40px;
  position: relative;
  .inline-block;
  .transition(.3s);
  &:hover{
    background: lighten(@blueFacebook, 5%);
    text-decoration: none;
  }
  .icon {
    left: 15px;
    margin: 0;
    position: absolute;
    top: 6px;
  }
}
// Warning appears are orange
.btn-warning {
  .buttonBackground(@btnWarningBackground, @btnWarningBackgroundHighlight);
}
// Danger and error appear as red
.btn-danger {
  .buttonBackground(@btnDangerBackground, @btnDangerBackgroundHighlight);
}
// Success appears as green
.btn-success {
  .buttonBackground(@btnSuccessBackground, @btnSuccessBackgroundHighlight);
}
// Info appears as a neutral blue
.btn-info {
  .buttonBackground(@btnInfoBackground, @btnInfoBackgroundHighlight);
}
// Inverse appears as dark gray
.btn-inverse {
  .buttonBackground(@btnInverseBackground, @btnInverseBackgroundHighlight);
}
.btnCart {
  background: @btnBackgroundHighlight;
  &:hover {
    background: @btnBackground;
  }
}

// Cross-browser Jank
// --------------------------------------------------

button.btn,
input[type="submit"].btn {

  // Firefox 3.6 only I believe
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  // IE7 has some default padding on button controls
  *padding-top: 2px;
  *padding-bottom: 2px;
  &.btn-large {
    *padding-top: 7px;
    *padding-bottom: 7px;
  }
  &.btn-small {
    *padding-top: 3px;
    *padding-bottom: 3px;
  }
  &.btn-mini {
    *padding-top: 1px;
    *padding-bottom: 1px;
  }
}
