<form id="loginForm" accept-charset="utf-8" action="#" method="post">
    <div class="mainModal login loginForm">
        <div class="contentModal">
            <fieldset>
                <h1>Bienvenido a <img src="winbitsInclude/images/misc/mylooq.png" alt="my LOOQ"> <small>un sitio de la familia <span class="icon winbits11px">winbits</span></small></h1>
                <a href="#" class="loginFacebook"><span class="icon facebookWhite"></span>Login con Facebook</a>
                <span class="login-or">ó</span>
                <input type="text" placeholder="Email" class="required email" name="email">
                <input type="password" placeholder="Password" class="required" name="password">
                <input type="checkbox" value="rememberMe" name="rememberMe" class="checkbox">
                <label class="checkboxLabel">Recuérdame</label>
                <div class="errorDiv"><p></p></div>
                <input id="wbi-login-btn" class="btn" value="Log in">
                <p class="forgotRegister">¿Olvidaste tu password? <a href="#">haz click aquí</a></p>
                <p class="forgotRegister">¿No estas registrado? <a href="#">haz click aquí</a></p>
            </fieldset>
        </div>
    </div>
</form>